<% if todo_item.completed? %>
  <p style="opacity: 0.5;"><strike><%= todo_item.content %></strike></p>
  <%= link_to "Delete", todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: { confirm: "Are you sure?" } %>
<% else %>
  <p><%= todo_item.content %></p>
  <%= link_to "Delete", todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: { confirm: "Are you sure?" } %>
  <%= link_to "Mark As Completed.", complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch %>
<% end %>
